{% extends "base.html" %}
{% block title %}{{ dinosaur.name }}{% endblock %}
{% block main %}
<div class="grid">
    <article>
        <h2>Discover the {{ dinosaur.name }}</h2>

        <div class="description">
            {{ dinosaur.description|safe }}
        </div>

        <div class="card">
            <img src="{{ dinosaur.avatar }}" alt="{{ dinosaur.name }}" />
            <dl>
                <dt>Name</dt>
                <dd>{{ dinosaur.name }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ dinosaur.name_meaning }}</dd>
                <dt>Diet</dt>
                <dd>{{ dinosaur.diet }}</dd>
                <dt>Height</dt>
                <dd>{{ dinosaur.height }}</dd>
                <dt>Length</dt>
                <dd>{{ dinosaur.length }}</dd>
                <dt>Weight</dt>
                <dd>{{ dinosaur.weight }}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for i in range(3) %}
            <a href="{{ url_for('dinosaur', slug=dinosaurs[i].slug) }}">
              <figure>
                <img src="{{ dinosaurs[i].avatar }}" alt="{{ dinosaurs[i].name }}" />
                <figcaption>Discover the {{ dinosaurs[i].name }}</figcaption>
              </figure>
            </a>
        {% endfor %}
    </aside>
</div>
{% endblock %}
