{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block main %}
<section>
  <h2>THE WORLD OF JURASSIC PARK</h2>

  {% for i in range(len) %}
      <a href="{{ url_for('dinosaur', slug=dinosaurs[i].slug) }}">
        <figure>
          <img src="{{ dinosaurs[i].avatar }}" alt="{{ dinosaurs[i].name }}" />
          <figcaption>Discover the {{ dinosaurs[i].name }}</figcaption>
        </figure>
      </a>
  {% endfor %}

</section>
{% endblock %}
