<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Flask</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}" />
</head>
<body>
    <header>
      <ul>
        <li><a class="active" href="{{ url_for('index') }}">Index</a></li>
        <li><a href="{{ url_for('hello') }}">Hello</a></li>
      </ul>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        {% block footer %}
        &copy; Copyright 2020 by <a href="http://domain.invalid/">Maxime Petit</a>.
        {% endblock %}
    </footer>
</body>
</html>
