{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome homepage.
    </p>
    <a href="{{ url_for('hello', name='Ben') }}">Hello Ben ?</a>
{% endblock %}
