main {
  display: flex;
  flex-direction: column;
}

ul:not(.flashes) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

table {
  margin: 10px auto;
}

.flashes li {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  list-style-type: none;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group label {
  margin: 10px 10px 10px 0;
}
.input-group label::after {
  content: " : ";
}

.alert {
  margin: 0 10px;
}

.alert-error {
  color : red;
}
