<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Flask</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}" />
</head>
<body>
    <header>
      <ul>
        <li><a href="{{ url_for('index') }}">Index</a></li>
        <li><a href="{{ url_for('games') }}">Games</a></li>
        <li><a href="{{ url_for('categories') }}">Categories</a></li>
      </ul>
    </header>
    <main>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>
