{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th colspan="2">Categories</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for index in query %}
            <tr>
                <td>{{ index }}</td>
                <td>
                  <a href="{{ url_for('category', slug=index.slug) }}">
                    {{ index.name }}
                  </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
