{% extends 'base.html' %}

{% block title %}New game{% endblock %}

{% block content %}

<h2>Create a boardgame</h2>

<form method="POST">
    {% for field in form %}
        <div class="input-group">
        {% if field.widget.input_type != 'hidden' %}
            {{ field.label() }}
        {% endif %}
        {{ field() }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Save</button>
</form>
{% endblock %}
