{% extends "base.html" %}
{% block title %}Games{% endblock %}
{% block content %}
<h1>{{ query.name }}</h1>

<p>
    Description : {{ query.description }}
</p>

<p>
  Category :
  <a href="{{ url_for('category', slug=query.category.slug) }}">
    {{ query.category.name }}
  </a>
</p>

<p>
  Release Date : {{ query.release_date }}
</p>

<p>
  Added to the database on {{ query.created_at }}
</p>
{% endblock %}
