{% extends "base.html" %}
{% block title %}Games{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th colspan="5">Games</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Release date</th>
        </tr>
    </thead>
    <tbody>
        {% for index in query %}
            <tr>
                <td>{{ index }}</td>
                <td>
                  <a href="{{ url_for('game', slug=index.slug) }}">
                    {{ index.name }}
                  </a>
                </td>
                <td>{{ index.description }}</td>
                <td>
                  <a href="{{ url_for('category', slug=index.category.slug) }}">
                    {{ index.category.name }}
                  </a>
                </td>
                <td>{{ index.release_date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('boardgame_create') }}">Ajouter un jeu</a>
{% endblock %}
